
<div class="editor-row">

  <div class="section gf-form-group">
    <h5 class="section-heading">Connection</h5>

    <div class="gf-form">
      <span class="gf-form-label width-8">URL (api)</span>
      <input type="text" ng-model="ctrl.panel.url" class="gf-form-input width-25" ng-change="ctrl.connectionChanged()"/>
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-8">Account</span>
      <input type="text" ng-model="ctrl.panel.account" class="gf-form-input width-25" ng-change="ctrl.connectionChanged()"/>
    </div>
    <div class="gf-form">
      <span class="gf-form-label width-8">Password</span>
      <input type="password" ng-model="ctrl.panel.passwd" class="gf-form-input width-25" ng-change="ctrl.connectionChanged()"/>
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-8">_sid</span>
      <input type="text" ng-model="ctrl.auth.sid" class="gf-form-input width-25" />
    </div>
  </div>


  <div class="section gf-form-group">
    <h5 class="section-heading">Settings</h5>

    <div class="gf-form">
      <span class="gf-form-label width-8">Min Width</span>
      <input type="number" ng-model="ctrl.panel.min" class="gf-form-input width-6" ng-change="ctrl.styleChanged()" min="50" max="5000"/>
    </div>

    <div class="gf-form">
      <span class="gf-form-label width-8">Max Width</span>
      <input type="number" ng-model="ctrl.panel.max" class="gf-form-input width-6" ng-change="ctrl.styleChanged()" min="50" max="5000"/>
    </div>

    <gf-form-switch class="gf-form" label="Show Names" label-class="gf-form-label width-10" checked="ctrl.panel.showName" ></gf-form-switch>
    <gf-form-switch class="gf-form" label="Show Audio" label-class="gf-form-label width-10" checked="ctrl.panel.showAudio" ></gf-form-switch>

  </div>

</div>


<div class="editor-row">

  <div class="section gf-form-group">
    <h5 class="section-heading">Cameras</h5>

    <div class="gf-form" ng-repeat="camera in ctrl.cameras">
      <img height="40" width="60" style="background: #333;" ng-src="{{ camera.snapshot_url }}" />

      <editor-checkbox class="gf-form-label width-14" model="camera._show" text="{{ camera.name }}" change="ctrl.configChanged()"></editor-checkbox>

      <span class="gf-form-label width-8"><a href="http://{{ camera.host }}/" target="_blank">{{ camera.host }}</a></span>
      <div class="gf-form-label gf-form-label--grow">
        <button class="btn btn-inverse btn-small" ng-click="ctrl.listEvents(camera);">events</button>

        <i ng-show="camera.audioCap"    class="fa fa-volume-up"  ></i>
        <i ng-show="camera.status != 0" class="fa fa-ban"  title="Status: {{ camera.status }}"></i>

        &nbsp;&nbsp;
      </div>

      <label class="gf-form-label" >
        <a class="pointer" ng-click="ctrl.moveCamera(camera, -1)" ng-hide="$first">
          <i class="fa fa-arrow-up"></i> &nbsp;
        </a>

        <a class="pointer" ng-click="ctrl.moveCamera(camera, 1)" ng-hide="$last">
          <i class="fa fa-arrow-down"></i> &nbsp;
        </a>
      </label>

    </div>
  </div>

</div>

<!--
<pre>{{ ctrl.panel | json }}</pre>
-->


<video id="editor_videojs_id" class="video-js vjs-default-skin" controls preload="none" style="width:1024px; height:768px"
  poster="http://vjs.zencdn.net/v/oceans.png" data-setup="{}">
  <source src="http://vjs.zencdn.net/v/oceans.mp4" type="video/mp4">
  <source src="http://vjs.zencdn.net/v/oceans.webm" type="video/webm">
  <source src="http://vjs.zencdn.net/v/oceans.ogv" type="video/ogg">

  <!-- Tracks need an ending tag thanks to IE9 -->
  <p class="vjs-no-js">To view this video please enable JavaScript, and consider upgrading to a web browser that <a href="http://videojs.com/html5-video-support/" target="_blank">supports HTML5 video</a></p>
</video>

