.gallery {
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: space-between;
}

.gallery a {
  flex-grow: 1;
  flex-basis: 320px; 
  max-width: 640px;
  margin: 5px;
}

.gallery img {
  height: 100%;
  width: 100%;
  border: 2px solid rgb(41, 41, 41);
}

.gallery a:hover img {
  border:2px solid #e45602;
}

.gallery .overlay {
  position: relative;
  top: -2em;
  border: 0px solid pink;
  margin:3px;

  text-shadow: 0 0 1.1em #000
}